body {
  margin: 0;
  padding: 0;
}

.burger_image {
  width: 100%;
  display: block;
  height: 120vh;
  object-fit: cover;
  object-position: top;
}

.burger_font {
  margin: -100px 0;
  overflow: hidden;
}

.burger_container {
  position: relative;
  width: 100%;
}

.button_overlay {
  position: absolute;
  top: 68%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
  text-align: center;
  width: 100%;
}
