.button {
  padding: 14px 30px;
  border-radius: 30px;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.3s ease;

  &.primary {
    background-color: #013a2f;
    color: white;
    border: none;
  }

  &.secondary {
    background-color: transparent;
    color: #013a2f;
    border: 2px solid #013a2f;
  }
  
  &.small {
    padding: 8px 16px;
    font-size: 0.8rem;
  }

  &.medium {
    padding: 12px 24px;
    font-size: 1rem;
  }

  &.large {
    padding: 16px 32px;
    font-size: 1.2rem;
  }
}