.header {
  padding: 0px 0;
  position: relative;
  z-index: 100;
  height: 100px;
  background: white;
}

.navContainer {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
  height: 100%;
}

.navLogo {
  width: 80px;
  height: 80px;
  object-fit: contain;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 102;
}

@media (max-width: 850px) {
  .header {
    height: 70px;
  }

  .navLogo {
    width: 50px;
    height: 50px;
    transform: translate(-50%, -50%);
    margin: 0;
  }
}