.header {
  padding: 0px 0;
  position: relative;
  z-index: 100;
  height: 100px;
  background: white;
}

.navContainer {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
  height: 100%;
}

.navLogo {
  width: 80px;
  height: 80px;
  object-fit: contain;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  margin: -5px 0;
  z-index: 102;
}

.rightGroup {
  position: absolute;
  left: calc(50% + 150px);
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  gap: 30px;
  align-items: center;
}

.leftGroup {
  position: absolute;
  right: calc(50% + 220px);
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  gap: 75px;
  align-items: center; 
}

.dropdown {
  position: absolute;
  top: 50px;
  left: -10px;
  background-color: white;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  padding: 10px 0;
  min-width: 180px;
  z-index: 200;

  .dropdownList {
    list-style: none;
    padding: 0;
    margin: 0;

    li {
      padding: 12px 20px;
      font-size: 16px;
      color: #013a2f;
      font-weight: 500;
      cursor: pointer;
      transition: background-color 0.2s;

      &:hover {
        background-color: #f5f5f5;
        color: #000;
      }
    }
  }
}

.navProfil {
  width: 40px;
  height: 39px;
}

.navTextLink {
  color: #013a2f;
  text-decoration: none;
  font-weight: bold;
  cursor: pointer;
  transition: color 0.2s;
}

.navMenu {
  width: 40px;
  height: 40px;
}

.navMenu,
.navProfil {
  transition: transform 0.2s ease;
  
  &:hover {
    transform: scale(1.1);
  }
  
  &:active {
    transform: scale(0.95);
  }
}


@media (max-width: 1200px) {
  .rightGroup { left: calc(50% + 120px); }
  .leftGroup { right: calc(50% + 160px); gap: 50px; }
}

@media (max-width: 1020px) {
  .rightGroup { left: calc(50% + 90px); }
  .leftGroup { right: calc(50% + 130px); gap: 50px; }
}

@media (max-width: 900px) {
  .rightGroup { left: calc(50% + 70px); }
  .leftGroup { right: calc(50% + 110px); gap: 50px; }
}

@media (max-width: 850px) {
  .header {
    height: 70px;
  }

  .navLogo {
    width: 50px;
    height: 50px;
  }

  .leftGroup {
    right: auto;
    left: 20px;
    gap: 0;
    transform: translateY(-50%);
    
    .navTextLink {
      display: none;
    }
  }

  .rightGroup {
    left: auto;
    right: 20px;
    gap: 0;
    transform: translateY(-50%);
    
    button {
      display: none;
    }
  }

  .navMenu,
  .navProfil {
    width: 32px;
    height: 32px;
  }
}