.header {
  padding: 0px 0;
  position: relative;
  height: 78px;
}

.navContainer {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
  height: 100%;
}

.navLogo {
  width: 70px;
  height: 70px;
  object-fit: contain;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  margin: 4px 0;
}

.rightGroup {
  position: absolute;
  left: calc(50% + 150px);
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  gap: 30px;
}

.leftGroup {
  position: absolute;
  right: calc(50% + 150px);
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  gap: 50px;
  align-items: center; 
}

.navProfil {
    width: 40px;
    height: 39px;
}

.navTextLink {
  color: #013a2f;
  text-decoration: none;
  font-weight: 500;
  cursor: pointer;
  transition: color 0.2s;
  font-weight: bold;
}

.navMenu {
    width: 40px;
    height: 40px;
}