.footer {
  background: white;
  color: #333;
  font-family: 'Arial', sans-serif;
  position: relative;
  width: 100%;
}

.footerContent {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 2rem;
  padding: 3rem 2rem;
  max-width: 1200px;
  margin: 0 auto;
}

.navLogo {
    width: 160px;
}

.footerSection {
  h2 {
    color: #013a2f;
    font-size: 1.2rem;
    margin-bottom: 1rem;
    text-transform: uppercase;
  }

  p, li {
    margin-bottom: 0.5rem;
    line-height: 1.5;
  }

  ul {
    list-style: none;
    padding: 0;
  }
}

.footerBottom {
  text-align: center;
  position: relative;
}

.greenBand {
  width: 100%;
  height: 50px;
  background: #013a2f;
  display: flex;
  align-items: center;
  justify-content: center;

  p {
    color: white;
    margin: 0;
    font-size: 1rem;
  }
}

.footerLink {
  text-decoration: none;
  color: #333;

  &:hover {
    text-decoration: underline;
  }
}

@media (max-width: 768px) {
  .footerContent {
    text-align: center;
    grid-template-columns: 1fr;
    gap: 1.5rem;
  }
  .navLogo {
    display : None;
  }
}